body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #FFF;
    color: #434455;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.top-sec {
    border-bottom: 1px solid #e7e9fc
}

.boss-title {
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height:  1.07;
    color: #FFF;
    text-align: center;
    max-width: 496px;
}

.title-section-a {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-section { 
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFF;
    margin-bottom: 8px;
}

h3 {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}
 
.bttn {
    background-color: #4D5AE5;
    color: #FFF;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.bttn:hover {
    color:#FFF;
    background-color: #404bbf;
}

.bttn:focus {
    color: #FFF;
    background-color: #404BBF;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px
}

.studio {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
}

.menu {
    display: flex;
    gap: 40px;
}

.nav-link:hover {
    color: #404bbf;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:focus {
    color: #404bbf;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-addr {
    font-style: normal;
}

.nav-link-two {
    color: #434455;
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-link-two:hover {
    color: #404bbf;
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-link-two:focus {
    color: #404bbf;
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.add-list {
    display: flex;
    gap: 40px;
}

.hero-image {
    background-color: #2E2F42;
}

.our-strengths {
    background-color: #FFF;
    padding: 120px 0;
}

.our-team {
    background-color: #F4F4FD;
}

.our-portfolio {
    background-color: #FFF;
}

.text-small {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foot-section {
    background-color: #2E2F42;
}

.text-foot {
    color:#F4F4FD;
    letter-spacing: 0.02em
}

.studio-footer {
    color: #F4F4FD;
}

.team-card {
    background-color: #FFF;
}

.section-two {
    display: flex;
    gap: 24px;
}

.section-three {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-card {
    width calc((100% - 3 * 24px) / 4);
}
